/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Blackandwhite;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 4;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #696969;
	color: #ffffff;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	background-color: #d3d3d3;
	name: Body1;
	id: 1;
	size: 50px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body2;
	id: 2;
	size: 50px;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #c0c0c0;
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-Blackandwhite
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Blackandwhite-Column-Column1
{
	
}

.TableStyle-Blackandwhite-Head-Header1
{
	
}

.TableStyle-Blackandwhite-HeadI-Column1-Header1
{
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-Blackandwhite-HeadI-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Blackandwhite-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Blackandwhite-HeadE-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Blackandwhite-HeadF-Column1-Header1
{
	color: #ffffff;
	background-color: #696969;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Blackandwhite-HeadF-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Blackandwhite-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-Blackandwhite-HeadH-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Blackandwhite-HeadD-Column1-Header1
{
	color: #ffffff;
	background-color: #696969;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Blackandwhite-HeadD-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Blackandwhite-HeadC-Column1-Header1
{
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-Blackandwhite-HeadC-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Blackandwhite-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-Blackandwhite-HeadB-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Blackandwhite-HeadA-Column1-Header1
{
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-Blackandwhite-HeadA-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Blackandwhite-HeadG-Column1-Header1
{
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-Blackandwhite-HeadG-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Blackandwhite-Foot-Footer1
{
	
}

.TableStyle-Blackandwhite-FootI-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-Blackandwhite-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Blackandwhite-FootE-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Blackandwhite-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Blackandwhite-FootF-Column1-Footer1
{
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Blackandwhite-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Blackandwhite-FootH-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Blackandwhite-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Blackandwhite-FootD-Column1-Footer1
{
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Blackandwhite-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Blackandwhite-FootC-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-Blackandwhite-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Blackandwhite-FootB-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Blackandwhite-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Blackandwhite-FootA-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-Blackandwhite-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Blackandwhite-FootG-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-Blackandwhite-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Blackandwhite-Body-Body1
{
	height: 50px;
}

.TableStyle-Blackandwhite-BodyI-Column1-Body1
{
	background-color: #d3d3d3;
}

.TableStyle-Blackandwhite-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Blackandwhite-BodyE-Column1-Body1
{
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Blackandwhite-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Blackandwhite-BodyF-Column1-Body1
{
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Blackandwhite-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Blackandwhite-BodyH-Column1-Body1
{
	background-color: #d3d3d3;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Blackandwhite-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Blackandwhite-BodyD-Column1-Body1
{
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Blackandwhite-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Blackandwhite-BodyC-Column1-Body1
{
	background-color: #d3d3d3;
}

.TableStyle-Blackandwhite-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Blackandwhite-BodyB-Column1-Body1
{
	background-color: #d3d3d3;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Blackandwhite-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Blackandwhite-BodyA-Column1-Body1
{
	background-color: #d3d3d3;
}

.TableStyle-Blackandwhite-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Blackandwhite-BodyG-Column1-Body1
{
	background-color: #d3d3d3;
}

.TableStyle-Blackandwhite-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Blackandwhite-Body-Body2
{
	height: 50px;
}

.TableStyle-Blackandwhite-BodyI-Column1-Body2
{
	
}

.TableStyle-Blackandwhite-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Blackandwhite-BodyE-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Blackandwhite-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Blackandwhite-BodyF-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Blackandwhite-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Blackandwhite-BodyH-Column1-Body2
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Blackandwhite-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Blackandwhite-BodyD-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Blackandwhite-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Blackandwhite-BodyC-Column1-Body2
{
	
}

.TableStyle-Blackandwhite-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Blackandwhite-BodyB-Column1-Body2
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Blackandwhite-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Blackandwhite-BodyA-Column1-Body2
{
	
}

.TableStyle-Blackandwhite-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Blackandwhite-BodyG-Column1-Body2
{
	
}

.TableStyle-Blackandwhite-BodyG-Column1-Body2 p
{
	
}


